{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="container-xl">
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Edit Course
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}
                            </div>
                        </div>

                        <form method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" style="display:inline-block">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
                            <button type="submit" class="btn btn-danger mt-3" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
