{% extends 'base.html.twig' %}

{% block title %}Home - E-Learning Platform{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="container-xl">
            <div class="page-header d-print-none">
                <div class="col">
                    <h1 class="page-title">Welcome to E-Learning Platform</h1>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Start Learning Today</h2>
                                <p>Browse our courses and enroll to start your learning journey.</p>
                                <a href="{{ path('app_course_index') }}" class="btn btn-primary">Browse Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}