{% extends '@Tabler/layout.html.twig' %}

{% block tabler_title %}E-learning Admin{% endblock %}

{% block tabler_navbar_title %}My E-learning Platform{% endblock %}

{% block tabler_sidebar_brand %}
    <span class="sidebar-brand">Admin</span>
{% endblock %}

{% block tabler_main %}
    <div class="container py-4">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
